[data-font-family=BKoodak] {
    font-family: "BKoodak";
}

[data-font-family=BTraffic] {
    font-family: "BTraffic";
}

[data-font-family=BTitrBold] {
    font-family: "BTitrBold";
}

[data-font-family=BYekan] {
    font-family: "BYekan";
}

[data-font-family=BMitra] {
    font-family: "BMitra";
}

[data-font-family=BRoya] {
    font-family: "BRoya";
}

[data-font-family=BYagut] {
    font-family: "BYagut";
}


.font-preview {
}
